version = "1.0"

[main]
name = "Element configuration"

    [main.config]
    name = "Server Configuration"

        [main.config.default_home_server]
        ask = "Choose a home server"
        type = "string"
        help = "Choose your default Matrix server's domain name. Default is https://matrix.org"
        bind = "m.homeserver:__FINALPATH__/config.json"
